<h1>Listing situations</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Status</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @situations.each do |situation| %>
      <tr>
        <td><%= situation.text %></td>
        <td><%= situation.status %></td>
        <td><%= situation.area.name %></td>
        <td><%= link_to 'Show', area_situation_path(@area,situation) %></td>
        <td><%= link_to 'Edit', edit_area_situation_path(@area, situation) %></td>
        <td><%= link_to 'Destroy', area_situation_path(@area,situation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Situation', new_area_situation_path %>
