<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @situation.text %>
</p>

<p>
  <strong>Status:</strong>
  <%= @situation.status %>
</p>

<p>
  <strong>Area:</strong>
  <%= @situation.area.name %>
</p>

<table class="bordered">
  <thead>
    <tr>
      <th>写真</th>
      <th>追加時刻</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @situation.photos.each do |photo| %>
      <tr>
        <td><%= image_tag view_photo_path(photo)%></td>
        <td><%= photo.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= link_to '削除', area_situation_photo_path(@area,@situation,photo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to '写真追加', new_area_situation_photo_path(@area, @situation) %>
</p>
<%= link_to 'Edit', edit_area_situation_path(@area, @situation) %> |
<%= link_to 'Back', area_path(@area) %>
