<p id="notice"><%= notice %></p>

<p>
  <strong>Thing:</strong>
  <%= @need.thing %>
</p>

<p>
  <strong>Status:</strong>
  <%= @need.status %>
</p>

<%= link_to 'Edit', edit_area_need_path(@area, @need) %> |
<%= link_to 'Back', area_path(@area) %>
