<p id="notice"><%= notice %></p>

<p>
  <strong>必要な物、事:</strong>
  <%= @need.thing %>
</p>

<p>
  <strong>揃ったかどうか（揃ったらtrue)</strong>
  <%= @need.status %>
</p>

<%= link_to '編集', edit_area_need_path(@area, @need) %> |
<%= link_to '地点詳細に戻る', area_path(@area) %>
