<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    地点名<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    住所<br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    電話番号<br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    緯度<br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    経度<br>
    <%= f.text_field :lng %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
