<p id="notice"><%= notice %></p>

<p>
  <strong>エリア名、地点名:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>住所:</strong>
  <%= @area.address %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @area.tel %>
</p>

<p>
  <strong>緯度:</strong>
  <%= @area.lat %>
</p>

<p>
  <strong>経度:</strong>
  <%= @area.lng %>
</p>

<%= link_to '地点情報編集', edit_area_path(@area) %> |
<%= link_to '地点一覧に戻る', areas_path %>

<table>
  <thead>
    <tr>
      <th>被災状況報告</th>
      <th>ステータス(解決済みがtrue)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @area.situations.each do |situation| %>
      <tr>
        <td><%= situation.text %></td>
        <td><%= situation.status %></td>
        <td><%= link_to '詳細(写真など)', area_situation_path(@area,situation) %></td>
        <td><%= link_to '編集', edit_area_situation_path(@area,situation) %></td>
        <td><%= link_to '削除', area_situation_path(@area,situation), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '災害状況新規追加', new_area_situation_path(@area) %>

<table>
  <thead>
    <tr>
      <th>必要なもの</th>
      <th>揃ったらtrue、揃ってなければfalse</th>
      <!-- <th>Area</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @area.needs.each do |need| %>
      <tr>
        <td><%= need.thing %></td>
        <td><%= need.status %></td>
        <td><%= link_to '詳細', area_need_path(@area,need) %></td>
        <td><%= link_to '編集', edit_area_need_path(@area,need) %></td>
        <td><%= link_to '削除', area_need_path(@area,need), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '必要なもの、人、技術など新規追加', new_area_need_path(@area) %>
