<h1>Listing photos</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Type</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= image_tag view_photo_path(photo)%></td>
        <td><%= link_to 'Show', area_photo_path(@area,photo) %></td>
        <td><%= link_to 'Edit', edit_area_photo_path(@area,photo) %></td>
        <td><%= link_to 'Destroy', area_photo_path(@area,photo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_area_photo_path %>
